Projeto 3/flow3.json
[
    {
        "id": "0949fdf92363fd8d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "88b3e0b655681cdf",
        "type": "websocket in",
        "z": "0949fdf92363fd8d",
        "name": "Esp32 websocket server",
        "server": "",
        "client": "360957a346f741d6",
        "x": 610,
        "y": 240,
        "wires": [
            [
                "c6a00d40f3e70bb9"
            ]
        ]
    },
    {
        "id": "c6a00d40f3e70bb9",
        "type": "function",
        "z": "0949fdf92363fd8d",
        "name": "parseFloats",
        "func": "var stringRecebida=msg.payload;\n\nvar divisao= stringRecebida.split(',');\n\nvar pressao = parseFloat(divisao[4]);\nvar altitude = parseFloat(divisao[3]);\nvar umidade = parseFloat(divisao[2]);\nvar temperatura = parseFloat(divisao[1]);\nvar estadoLed = parseFloat(divisao[0]);\nvar estadoBotao = parseFloat(divisao[5])\n\n\nvar dadosDivididos={\n    Pressao: pressao,\n    Altitude: altitude,\n    Umidade: umidade,\n    Temperatura: temperatura,\n    EstadoBotao: estadoBotao,\n    EstadoLed: estadoLed\n};\n\nmsg.payload=dadosDivididos;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 240,
        "wires": [
            [
                "66b5d7b311502aeb",
                "30fc0371aed037a3",
                "70fef603b3b12428",
                "b2004c1a512b6357",
                "485df969edfc551f",
                "5d69a6fbc8a91d58",
                "0a2e7624e12393bb"
            ]
        ]
    },
    {
        "id": "057fab310eb4722d",
        "type": "websocket out",
        "z": "0949fdf92363fd8d",
        "name": "",
        "server": "",
        "client": "360957a346f741d6",
        "x": 640,
        "y": 760,
        "wires": []
    },
    {
        "id": "060210def9868266",
        "type": "ui_switch",
        "z": "0949fdf92363fd8d",
        "name": "",
        "label": "Led - Esp 32 WiFi LoRa",
        "tooltip": "",
        "group": "f2052c5375424c46",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "toggle",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "toggle",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 350,
        "y": 760,
        "wires": [
            [
                "057fab310eb4722d"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "485df969edfc551f",
        "type": "ui_gauge",
        "z": "0949fdf92363fd8d",
        "d": true,
        "name": "",
        "group": "f2052c5375424c46",
        "order": 10,
        "width": "4",
        "height": "4",
        "gtype": "donut",
        "title": "Pressao",
        "label": "mbar",
        "format": "{{payload.Pressao}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00fffb",
            "#00ffe1",
            "#028000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 120,
        "wires": [],
        "icon": "font-awesome/fa-tachometer"
    },
    {
        "id": "5d69a6fbc8a91d58",
        "type": "ui_gauge",
        "z": "0949fdf92363fd8d",
        "d": true,
        "name": "",
        "group": "f2052c5375424c46",
        "order": 9,
        "width": "4",
        "height": "4",
        "gtype": "compass",
        "title": "Altitude",
        "label": "m",
        "format": "{{payload.Altitude}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 160,
        "wires": [],
        "icon": "font-awesome/fa-rocket"
    },
    {
        "id": "b2004c1a512b6357",
        "type": "ui_gauge",
        "z": "0949fdf92363fd8d",
        "d": true,
        "name": "",
        "group": "f2052c5375424c46",
        "order": 3,
        "width": "4",
        "height": "4",
        "gtype": "wave",
        "title": "Umidade",
        "label": "%",
        "format": "{{payload.Umidade}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 200,
        "wires": [],
        "icon": "font-awesome/fa-shower"
    },
    {
        "id": "70fef603b3b12428",
        "type": "ui_gauge",
        "z": "0949fdf92363fd8d",
        "d": true,
        "name": "",
        "group": "f2052c5375424c46",
        "order": 11,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{payload.Temperatura}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 240,
        "wires": [],
        "icon": "font-awesome/fa-thermometer-three-quarters"
    },
    {
        "id": "30fc0371aed037a3",
        "type": "ui_gauge",
        "z": "0949fdf92363fd8d",
        "d": true,
        "name": "",
        "group": "f2052c5375424c46",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "wave",
        "title": "Led",
        "label": "",
        "format": "{{payload.EstadoLed}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 280,
        "wires": [],
        "icon": "node-red/light.svg"
    },
    {
        "id": "66b5d7b311502aeb",
        "type": "ui_gauge",
        "z": "0949fdf92363fd8d",
        "d": true,
        "name": "",
        "group": "f2052c5375424c46",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "wave",
        "title": "Botao",
        "label": "",
        "format": "{{payload.EstadoBotao}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 320,
        "wires": [],
        "icon": "node-red-dashboard/ui_switch.png"
    },
    {
        "id": "f9a2af19bc124587",
        "type": "noraf-light",
        "z": "0949fdf92363fd8d",
        "devicename": "Light",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Projeto3",
        "name": "",
        "colortype": "hsv",
        "nora": "7140c00d65394c68",
        "topic": "msg.topic",
        "onvalue": "toggle",
        "onvalueType": "str",
        "offvalue": "toggle",
        "offvalueType": "str",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "x": 410,
        "y": 720,
        "wires": [
            [
                "057fab310eb4722d"
            ]
        ]
    },
    {
        "id": "a4208234d7164601",
        "type": "websocket in",
        "z": "0949fdf92363fd8d",
        "name": "Esp32 websocket server",
        "server": "",
        "client": "360957a346f741d6",
        "x": 590,
        "y": 460,
        "wires": [
            [
                "16c1c3f03836ef64",
                "86a12faad9edc443",
                "5e81a887050ab39c",
                "e83ae12bdff96012",
                "36099bc561b8eb18",
                "6085ea6ee39d1a14",
                "b30dd2021f53b659",
                "55877c40b3694ecf",
                "27f502c875bdcf22",
                "c16df616808fb6a3"
            ]
        ]
    },
    {
        "id": "51c2d49a2f21562c",
        "type": "ui_gauge",
        "z": "0949fdf92363fd8d",
        "name": "",
        "group": "f2052c5375424c46",
        "order": 3,
        "width": "4",
        "height": "4",
        "gtype": "wave",
        "title": "Umidade",
        "label": "%",
        "format": "{{payload.Umidade}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 480,
        "wires": [],
        "icon": "font-awesome/fa-shower"
    },
    {
        "id": "ec1eb5134602c5b4",
        "type": "ui_gauge",
        "z": "0949fdf92363fd8d",
        "name": "",
        "group": "f2052c5375424c46",
        "order": 11,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{payload.Temperatura}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 580,
        "wires": [],
        "icon": "font-awesome/fa-thermometer-three-quarters"
    },
    {
        "id": "3ffd8498bab0f140",
        "type": "ui_gauge",
        "z": "0949fdf92363fd8d",
        "name": "",
        "group": "f2052c5375424c46",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "wave",
        "title": "Led",
        "label": "",
        "format": "{{payload.EstadoLed}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 680,
        "wires": [],
        "icon": "node-red/light.svg"
    },
    {
        "id": "888af813f59acd2c",
        "type": "ui_gauge",
        "z": "0949fdf92363fd8d",
        "name": "",
        "group": "f2052c5375424c46",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "wave",
        "title": "Botao",
        "label": "",
        "format": "{{payload.EstadoBotao}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 720,
        "wires": [],
        "icon": "node-red-dashboard/ui_switch.png"
    },
    {
        "id": "16c1c3f03836ef64",
        "type": "function",
        "z": "0949fdf92363fd8d",
        "name": "parsePressure",
        "func": "var stringRecebida=msg.payload;\n\nvar divisao= stringRecebida.split(',');\n\nvar pressao = parseFloat(divisao[4]);\nvar altitude = parseFloat(divisao[3]);\nvar umidade = parseFloat(divisao[2]);\nvar temperatura = parseFloat(divisao[1]);\nvar estadoLed = parseFloat(divisao[0]);\nvar estadoBotao = parseFloat(divisao[5])\n\n\nvar dadosDivididos={\n    Pressao: pressao,\n    \n};\n\nmsg.payload=dadosDivididos;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0a2e7624e12393bb",
        "type": "ui_gauge",
        "z": "0949fdf92363fd8d",
        "name": "",
        "group": "f2052c5375424c46",
        "order": 10,
        "width": "4",
        "height": "4",
        "gtype": "donut",
        "title": "Pressao",
        "label": "mbar",
        "format": "{{payload.Pressao}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00fefb",
            "#00ffe1",
            "#028000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 380,
        "wires": [],
        "icon": "font-awesome/fa-tachometer"
    },
    {
        "id": "86a12faad9edc443",
        "type": "function",
        "z": "0949fdf92363fd8d",
        "name": "parseHumidity",
        "func": "var stringRecebida=msg.payload;\n\nvar divisao= stringRecebida.split(',');\n\nvar pressao = parseFloat(divisao[4]);\nvar altitude = parseFloat(divisao[3]);\nvar umidade = parseFloat(divisao[2]);\nvar temperatura = parseFloat(divisao[1]);\nvar estadoLed = parseFloat(divisao[0]);\nvar estadoBotao = parseFloat(divisao[5])\n\n\nvar dadosDivididos={\n    Umidade: umidade,\n    \n};\n\nmsg.payload=dadosDivididos;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 480,
        "wires": [
            [
                "51c2d49a2f21562c"
            ]
        ]
    },
    {
        "id": "5e81a887050ab39c",
        "type": "function",
        "z": "0949fdf92363fd8d",
        "name": "parseTemperature",
        "func": "var stringRecebida=msg.payload;\n\nvar divisao= stringRecebida.split(',');\n\nvar pressao = parseFloat(divisao[4]);\nvar altitude = parseFloat(divisao[3]);\nvar umidade = parseFloat(divisao[2]);\nvar temperatura = parseFloat(divisao[1]);\nvar estadoLed = parseFloat(divisao[0]);\nvar estadoBotao = parseFloat(divisao[5])\n\n\nvar dadosDivididos={\n    Temperatura: temperatura,\n    \n};\n\nmsg.payload=dadosDivididos;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 580,
        "wires": [
            [
                "ec1eb5134602c5b4"
            ]
        ]
    },
    {
        "id": "e83ae12bdff96012",
        "type": "function",
        "z": "0949fdf92363fd8d",
        "name": "parseLed",
        "func": "var stringRecebida=msg.payload;\n\nvar divisao= stringRecebida.split(',');\n\nvar pressao = parseFloat(divisao[4]);\nvar altitude = parseFloat(divisao[3]);\nvar umidade = parseFloat(divisao[2]);\nvar temperatura = parseFloat(divisao[1]);\nvar estadoLed = parseFloat(divisao[0]);\nvar estadoBotao = parseFloat(divisao[5])\n\n\nvar dadosDivididos={\n    EstadoLed: estadoLed\n    \n};\n\nmsg.payload=dadosDivididos;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 680,
        "wires": [
            [
                "3ffd8498bab0f140"
            ]
        ]
    },
    {
        "id": "36099bc561b8eb18",
        "type": "function",
        "z": "0949fdf92363fd8d",
        "name": "parseBotao",
        "func": "var stringRecebida=msg.payload;\n\nvar divisao= stringRecebida.split(',');\n\nvar pressao = parseFloat(divisao[4]);\nvar altitude = parseFloat(divisao[3]);\nvar umidade = parseFloat(divisao[2]);\nvar temperatura = parseFloat(divisao[1]);\nvar estadoLed = parseFloat(divisao[0]);\nvar estadoBotao = parseFloat(divisao[5])\n\n\nvar dadosDivididos={\n    EstadoBotao: estadoBotao,\n    \n};\n\nmsg.payload=dadosDivididos;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 720,
        "wires": [
            [
                "888af813f59acd2c"
            ]
        ]
    },
    {
        "id": "b7e53e21b02715c8",
        "type": "noraf-sensor",
        "z": "0949fdf92363fd8d",
        "devicename": "Temperature",
        "roomhint": "",
        "name": "",
        "temperature": true,
        "unit": "C",
        "humidity": false,
        "passthru": false,
        "nora": "7140c00d65394c68",
        "topic": "{{payload.temperature}}",
        "filter": false,
        "sensorSupport": false,
        "sensorType": "AirQuality",
        "sensorStates": [],
        "sensorStatesThatNotify": [],
        "sensorNumeric": true,
        "openCloseSupport": false,
        "openCloseDiscrete": false,
        "onOffSupport": false,
        "x": 1090,
        "y": 620,
        "wires": []
    },
    {
        "id": "521f3ede845931b3",
        "type": "noraf-sensor",
        "z": "0949fdf92363fd8d",
        "devicename": "Humidity",
        "roomhint": "",
        "name": "",
        "temperature": false,
        "unit": "C",
        "humidity": true,
        "passthru": false,
        "nora": "7140c00d65394c68",
        "topic": "",
        "filter": false,
        "sensorSupport": false,
        "sensorType": "AirQuality",
        "sensorStates": [],
        "sensorStatesThatNotify": [],
        "sensorNumeric": true,
        "openCloseSupport": false,
        "openCloseDiscrete": false,
        "onOffSupport": false,
        "x": 1080,
        "y": 520,
        "wires": []
    },
    {
        "id": "6085ea6ee39d1a14",
        "type": "function",
        "z": "0949fdf92363fd8d",
        "name": "parseTemperature2",
        "func": "var stringRecebida=msg.payload;\n\nvar divisao= stringRecebida.split(',');\n\nvar pressao = parseFloat(divisao[4]);\nvar altitude = parseFloat(divisao[3]);\nvar umidade = parseFloat(divisao[2]);\nvar temperatura = parseFloat(divisao[1]);\nvar estadoLed = parseFloat(divisao[0]);\nvar estadoBotao = parseFloat(divisao[5])\n\n\nvar dadosDivididos={\n    temperature: temperatura\n    \n};\n\nmsg.payload=dadosDivididos;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 620,
        "wires": [
            [
                "b7e53e21b02715c8"
            ]
        ]
    },
    {
        "id": "b30dd2021f53b659",
        "type": "function",
        "z": "0949fdf92363fd8d",
        "name": "parseHumidity2",
        "func": "var stringRecebida=msg.payload;\n\nvar divisao= stringRecebida.split(',');\n\nvar pressao = parseFloat(divisao[4]);\nvar altitude = parseFloat(divisao[3]);\nvar umidade = parseFloat(divisao[2]);\nvar temperatura = parseFloat(divisao[1]);\nvar estadoLed = parseFloat(divisao[0]);\nvar estadoBotao = parseFloat(divisao[5])\n\n\nvar dadosDivididos={\n    humidity: umidade\n    \n};\n\nmsg.payload=dadosDivididos;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 520,
        "wires": [
            [
                "521f3ede845931b3"
            ]
        ]
    },
    {
        "id": "55877c40b3694ecf",
        "type": "function",
        "z": "0949fdf92363fd8d",
        "name": "parseBotao2",
        "func": "var stringRecebida=msg.payload;\n\nvar divisao= stringRecebida.split(',');\n\nvar pressao = parseFloat(divisao[4]);\nvar altitude = parseFloat(divisao[3]);\nvar umidade = parseFloat(divisao[2]);\nvar temperatura = parseFloat(divisao[1]);\nvar estadoLed = parseFloat(divisao[0]);\nvar estadoBotao = parseFloat(divisao[5])\n\n\nvar dadosDivididos={\n    \"on\" : estadoBotao\n    \n};\n\nmsg.payload=dadosDivididos;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 760,
        "wires": [
            [
                "b7c5aba8af29c062"
            ]
        ]
    },
    {
        "id": "eab91b5097591f3f",
        "type": "noraf-sensor",
        "z": "0949fdf92363fd8d",
        "devicename": "Pressao",
        "roomhint": "",
        "name": "",
        "temperature": false,
        "unit": "C",
        "humidity": true,
        "passthru": false,
        "nora": "7140c00d65394c68",
        "topic": "",
        "filter": false,
        "sensorSupport": false,
        "sensorType": "AirQuality",
        "sensorStates": [],
        "sensorStatesThatNotify": [],
        "sensorNumeric": true,
        "openCloseSupport": false,
        "openCloseDiscrete": false,
        "onOffSupport": false,
        "x": 1080,
        "y": 420,
        "wires": []
    },
    {
        "id": "27f502c875bdcf22",
        "type": "function",
        "z": "0949fdf92363fd8d",
        "name": "parsePreassure2",
        "func": "var stringRecebida=msg.payload;\n\nvar divisao= stringRecebida.split(',');\n\nvar pressao = parseFloat(divisao[4]);\nvar altitude = parseFloat(divisao[3]);\nvar umidade = parseFloat(divisao[2]);\nvar temperatura = parseFloat(divisao[1]);\nvar estadoLed = parseFloat(divisao[0]);\nvar estadoBotao = parseFloat(divisao[5])\nvar in_min = 900\nvar in_max = 1050\nvar out_min = 0\nvar out_max = 100\n\nvar dadosDivididos={\n    humidity: parseInt((pressao - in_min) * (out_max - out_min) / (in_max - in_min) + out_min)\n    \n};\n\nmsg.payload=dadosDivididos;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 420,
        "wires": [
            [
                "eab91b5097591f3f"
            ]
        ]
    },
    {
        "id": "b7c5aba8af29c062",
        "type": "noraf-sensor",
        "z": "0949fdf92363fd8d",
        "devicename": "EstadoBotao",
        "roomhint": "",
        "name": "",
        "temperature": false,
        "unit": "C",
        "humidity": false,
        "passthru": false,
        "nora": "7140c00d65394c68",
        "topic": "",
        "filter": false,
        "sensorSupport": false,
        "sensorType": "AirQuality",
        "sensorStates": [],
        "sensorStatesThatNotify": [],
        "sensorNumeric": true,
        "openCloseSupport": false,
        "openCloseDiscrete": false,
        "onOffSupport": true,
        "x": 1090,
        "y": 760,
        "wires": []
    },
    {
        "id": "79dc9b70a677ca3c",
        "type": "debug",
        "z": "0949fdf92363fd8d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 860,
        "wires": []
    },
    {
        "id": "c16df616808fb6a3",
        "type": "debug",
        "z": "0949fdf92363fd8d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "c936f1e47054a0dc",
        "type": "ui_spacer",
        "z": "0949fdf92363fd8d",
        "name": "spacer",
        "group": "f2052c5375424c46",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "49b95c552ab6123d",
        "type": "ui_spacer",
        "z": "0949fdf92363fd8d",
        "name": "spacer",
        "group": "f2052c5375424c46",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "3f4bfc1189cf2e41",
        "type": "ui_spacer",
        "z": "0949fdf92363fd8d",
        "name": "spacer",
        "group": "f2052c5375424c46",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "ba882658d922573d",
        "type": "ui_spacer",
        "z": "0949fdf92363fd8d",
        "name": "spacer",
        "group": "f2052c5375424c46",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "f9a5e0bf716a26d7",
        "type": "ui_spacer",
        "z": "0949fdf92363fd8d",
        "name": "spacer",
        "group": "f2052c5375424c46",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "b02f857f497ec5c3",
        "type": "ui_spacer",
        "z": "0949fdf92363fd8d",
        "name": "spacer",
        "group": "f2052c5375424c46",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "a8118626792a2d3c",
        "type": "ui_spacer",
        "z": "0949fdf92363fd8d",
        "name": "spacer",
        "group": "f2052c5375424c46",
        "order": 15,
        "width": "2",
        "height": "2"
    },
    {
        "id": "14413e9637933890",
        "type": "ui_spacer",
        "z": "0949fdf92363fd8d",
        "name": "spacer",
        "group": "f2052c5375424c46",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "52a0d554efb51879",
        "type": "ui_spacer",
        "z": "0949fdf92363fd8d",
        "name": "spacer",
        "group": "f2052c5375424c46",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "d7602a63951769ea",
        "type": "ui_spacer",
        "z": "0949fdf92363fd8d",
        "name": "spacer",
        "group": "f2052c5375424c46",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "dbf482a8383e11e7",
        "type": "ui_spacer",
        "z": "0949fdf92363fd8d",
        "name": "spacer",
        "group": "f2052c5375424c46",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "c6f492b31db6627f",
        "type": "ui_spacer",
        "z": "0949fdf92363fd8d",
        "name": "spacer",
        "group": "f2052c5375424c46",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "a6a22da0aea40717",
        "type": "ui_spacer",
        "z": "0949fdf92363fd8d",
        "name": "spacer",
        "group": "f2052c5375424c46",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "360957a346f741d6",
        "type": "websocket-client",
        "path": "ws://192.168.192.66/ws",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "f2052c5375424c46",
        "type": "ui_group",
        "name": "Parâmetros Controlados - CeLic",
        "tab": "ecc00be118e2a74a",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": true,
        "className": ""
    },
    {
        "id": "7140c00d65394c68",
        "type": "noraf-config",
        "name": "nora config",
        "group": "",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "Projeto3",
        "storeStateInContext": false,
        "disableValidationErrors": false,
        "sendDeviceNameAndLocation": false
    },
    {
        "id": "ecc00be118e2a74a",
        "type": "ui_tab",
        "name": "Comunicação Esp32 WebSocket-NodeRed",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]